.logo {
    height: 32px;
    margin: 16px;
}

.ant-layout-header.default-layout-header {
    background: rgb(0, 21, 41);
    font-size: 22px;
    color: white;
    padding-left: 15px;
}

.ant-layout-sider-trigger {
    font-size: 18px;
    top: 0;
    height: 64px !important;
    line-height: 64px !important;
}